/* You can add global styles to this file, and also import other style files */
.fundo{
    background-image: url(assets/imagens/imgem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
}